[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
folium = "*"
plotly = "*"
unidecode = "*"
nbformat = "*"
seaborn = "*"
matplotlib = "*"
geopandas = "*"
sklearn = "*"
scikit-learn = "*"
jupyterlab = "*"

[dev-packages]
ipykernel = "*"
notebook = "*"

[requires]
python_version = "3.10"
